<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <title></title>
    <meta name="next-head-count" content="3" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="preconnect" href="https://cdn.openai.com" />
    <link
      rel="preload"
      href="/common/fonts/soehne/soehne-buch.woff2"
      as="font"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/common/fonts/soehne/soehne-halbfett.woff2"
      as="font"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/common/fonts/soehne/soehne-mono-buch.woff2"
      as="font"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/common/fonts/soehne/soehne-mono-halbfett.woff2"
      as="font"
      crossorigin=""
    />
    <meta
      name="description"
      content="A conversational AI system that listens, learns, and challenges"
    />
    <meta property="og:title" content="ChatGPT" />
    <meta
      property="og:image"
      content="https://openai.com/content/images/2022/11/ChatGPT.jpg"
    />
    <meta
      property="og:description"
      content="A conversational AI system that listens, learns, and challenges"
    />
    <meta property="og:url" content="https://chat.openai.com" />
    <link
      rel="preload"
      href="/_next/static/css/8f18b8e01f5142c7.css"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/_next/static/css/8f18b8e01f5142c7.css"
      data-n-g=""
    />
    <noscript data-n-css=""></noscript>
    <script
      defer=""
      nomodule=""
      src="/_next/static/chunks/polyfills-c67a75d1b6f99dc8.js"
    ></script>
    <script
      src="/_next/static/chunks/webpack-bb878dbe9ef62e02.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/framework-e23f030857e925d4.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/main-92b2fb75fd82a328.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/_app-3f58daded002d67d.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/bd26816a-981e1ddc27b37cc6.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/1f110208-cda4026aba1898fb.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/012ff928-bcfa62e3ac82441c.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/68a27ff6-1185184b61bc22d0.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/931-5215d1b3bae5760a.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/432-3fa8b82e06bac46d.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/734-d71d159feae3c788.js"
      defer=""
    ></script>
    <script
      src="/_next/static/chunks/pages/index-c09196829fb382b3.js"
      defer=""
    ></script>
    <script
      src="/_next/static/tJX3plMSOel4fTSLRuqFc/_buildManifest.js"
      defer=""
    ></script>
    <script
      src="/_next/static/tJX3plMSOel4fTSLRuqFc/_ssgManifest.js"
      defer=""
    ></script>
  </head>
  <body>
    <div id="__next">
      <script>
        !(function () {
          try {
            var d = document.documentElement,
              c = d.classList;
            c.remove("light", "dark");
            var e = localStorage.getItem("theme");
            if ("system" === e || (!e && true)) {
              var t = "(prefers-color-scheme: dark)",
                m = window.matchMedia(t);
              if (m.media !== t || m.matches) {
                d.style.colorScheme = "dark";
                c.add("dark");
              } else {
                d.style.colorScheme = "light";
                c.add("light");
              }
            } else if (e) {
              c.add(e || "");
            }
            if (e === "light" || e === "dark") d.style.colorScheme = e;
          } catch (e) {}
        })();
      </script>
      <div></div>
      <div class="overflow-hidden w-full h-full relative flex z-0">
        <div class="relative flex h-full max-w-full flex-1">
          <div class="flex h-full max-w-full flex-1 flex-col overflow-hidden">
            <main
              class="relative h-full w-full transition-width flex flex-col overflow-hidden items-stretch flex-1"
            >
              <div
                class="absolute z-10 hidden flex-col gap-2 md:flex right-3 top-3"
              ></div>
              <div class="flex-1 overflow-hidden"></div>
              <div
                class="absolute bottom-0 left-0 w-full border-t md:border-t-0 dark:border-white/20 md:border-transparent md:dark:border-transparent md:bg-vert-light-gradient bg-white dark:bg-gray-800 md:!bg-transparent dark:md:bg-vert-dark-gradient pt-2"
              >
                <div
                  class="px-3 pb-3 pt-2 text-center text-xs text-gray-600 dark:text-gray-300 md:px-4 md:pb-6 md:pt-3"
                >
                  <span
                    >Free Research Preview. ChatGPT may produce inaccurate
                    information about people, places, or facts.
                    <a
                      href="https://help.openai.com/en/articles/6825453-chatgpt-release-notes"
                      target="_blank"
                      rel="noreferrer"
                      class="underline"
                      >ChatGPT May 3 Version</a
                    ></span
                  >
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
      <div class="absolute left-0 right-0 top-0 z-[2]"></div>
    </div>
    <script id="__NEXT_DATA__" type="application/json">
      {
        "props": {
          "pageProps": {
            "user": {
              "id": "user-HUagcZWRoCLaYBjUWal6Ax9b",
              "name": "cnlidong@me.com",
              "email": "cnlidong@me.com",
              "image": "https://s.gravatar.com/avatar/e3602eeb8e3136bf37808604da5ba1d6?s=480\u0026r=pg\u0026d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fcn.png",
              "picture": "https://s.gravatar.com/avatar/e3602eeb8e3136bf37808604da5ba1d6?s=480\u0026r=pg\u0026d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fcn.png",
              "idp": "auth0",
              "iat": 1683124492,
              "mfa": false,
              "groups": [],
              "intercom_hash": "f4ded2c9ed2ba48edf71cea6c54a290a865faed484eb07c4e663c90c00a66f65"
            },
            "serviceStatus": {},
            "userCountry": "US",
            "geoOk": true,
            "serviceAnnouncement": { "paid": {}, "public": {} },
            "isUserInCanPayGroup": true,
            "_sentryTraceData": "fe2f5925ef744b578e060ad63d2ecaaa-a828782d3e981a10-1",
            "_sentryBaggage": "sentry-environment=production,sentry-release=5ec1626698a543712bb2582d8d79cc146ec4f6bd,sentry-transaction=%2F,sentry-public_key=33f79e998f93410882ecec1e57143840,sentry-trace_id=fe2f5925ef744b578e060ad63d2ecaaa,sentry-sample_rate=1"
          },
          "__N_SSP": true
        },
        "page": "/",
        "query": {},
        "buildId": "tJX3plMSOel4fTSLRuqFc",
        "isFallback": false,
        "gssp": true,
        "scriptLoader": []
      }
    </script>
  </body>
</html>
